export LISTEN_ADDRESS=127.0.0.1
export LISTEN_PORT=3040
export SLACK_TOKEN=
export SLACK_CHANNEL=
export AGG_MAX_MESSAGES=10
export AGG_TIME_LIMIT=10
export NOTIFY_USERS=user1,user2,user3
export BOTSMETRICS_API_ADDRESS=https://botsmetrics...
export BBTSMERTICS_API_TOKEN=abc
export MONITOR_INTERVAL=10
export MONITOR_MAX_STORED_ITEMS=2
export NOTIFY_MONITOR_USERS=user1,user2,user3
export FKP_THRESHOLD=1000
